<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
<script src="/socket.io/socket.io.js"></script>
<%- include(".././includes/my_toast.ejs")%>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #252525;
      color: #f4f4f4;
    }
    nav {
      background-color: #555;
      color: #fff;
      padding: 3px;
      height: 5%;
      overflow-x: scroll; /* Horizontal scroll bar */
      white-space: nowrap; /* Prevent items from wrapping */
    }

    nav span {
      text-decoration: none; 
      color: inherit;
      outline: none; 
      margin-right: 1em;
      cursor: pointer;
    }

    nav span.active {
      background-color: #333;
      border-radius: 5px;
      padding: 2px 5px;
    }

    section {
      padding-top: 5px;
    }

    .movie, .showingdivs {
      display: block;
      height: 92%;
      padding-top: 4px;
      width: 100%;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .noticount__badge {
      background-color: #fa3e3e;
      border-radius: 40px;
      color: white;
      padding: 1px 3px;
      font-size: 15px;
      position: absolute; 
      top: 4;
      right: -15;
    }

    .noticount {
      color: white;
      display: inline-block;
      position: relative;
      padding: 2px 5px; 
    }
  </style>
</head>
<body>

  <nav>
    <div style="display: inline-block;">
      <span class="nav-item" onclick="display_div('movies')">Movies</span>
      <span class="nav-item" onclick="display_div('settings')">Settings</span>
      <span class="nav-item" onclick="display_div('trending')">Trending</span>
      <span class="nav-item" onclick="display_div('stat')">Stat</span>
      <span class="nav-item" onclick="display_div('st')">Search Terms</span>
      <span class="nav-item noticount" onclick="display_div('query')">Querys
        <% if(queryCount){ %>
        <span class="noticount__badge" id="queryCount"><%= queryCount%></span>
        <% } %>
      </span>
      <span class="nav-item" onclick="display_div('online-admins')">Admins</span>
    </div>
  </nav>

  <div id="div_movies" class="showingdivs">
    <%- include("./movie.ejs")%>
  </div>
  <div id="div_settings" class="showingdivs">
    Disable Site:
    <label class="switch">
      <input id="bla" type="checkbox">
      <span class="slider round"></span>
    </label>
    <br>
    Show Ads:
    <label class="switch">
      <input id="showAds" type="checkbox" checked>
      <span class="slider round"></span>
    </label>
    <br>
    Restart server:
    <button id='restartServerButton' onclick='restartServer()'>Restart</button>
    <script>
      var checkbox = document.querySelector("#bla");
      fetch("https://memer797.onrender.com/admin/data/settings")
        .then(res => res.json())
        .then(data => {
          checkbox.checked = data.isInMaintainance;
        });
      checkbox.addEventListener("click", function() {
        fetch("https://memer797.onrender.com/admin/data/settings", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            te: checkbox.checked
          })
        });
      });
    </script>
  </div>
  <div id="div_trending" class="showingdivs">
    <%- include("trend")%>
  </div>
  <div id="div_stat" class="showingdivs">
    <%- include("stat")%>
  </div>
  <div id="div_st" class="showingdivs">
    <%- include("search term")%>
  </div>
  <div id="div_query" class="showingdivs">
    <%- include("query")%>
  </div>
  <div id="div_online-admins" class="showingdivs">
    <%- include("online-admins")%>
  </div>

  <script>
    function display_div(item) {
      var all = document.querySelectorAll(`div[id^="div_"]`);
      all.forEach(divs => divs.style.display = "none");
      document.querySelector(`#div_${item}`).style.display = 'block';
      
      // Remove active class from all nav items
      document.querySelectorAll('.nav-item').forEach(item => item.classList.remove('active'));
      
      // Add active class to the clicked nav item
      document.querySelector(`span[onclick="display_div('${item}')"]`).classList.add('active');
    }

    display_div('stat');

    function restartServer() {
      document.getElementById('restartServerButton').innerHTML = 'Restarting server... now dont press the button for 30 minutes';
      const options = {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
          Authorization: 'Bearer rnd_lO59NLDTKDNj6SnAHTWBjvYADaEz'
        },
        body: JSON.stringify({ clearCache: 'clear' })
      };

      fetch('https://api.render.com/v1/services/srv-ckuc6pbamefc73ffji10/deploys', options)
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
        })
        .then(response => {
          console.log(response);
        })
        .catch(err => {
          console.error('Fetch error:', err.message);
        });
    }
  </script>
</body>
</html>
