<style>
        .statDiv {
            margin: 0;
            padding: 0;
            background-color: #252525;
            color: white;
            width: 100%;
        }
        .line {
            border: 1px solid gray;
            width: 90%;
            border-radius: 4px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        .showright {
            float: right;
        }
        .ntype {
        	font-size: 20px;
           display: block;
           padding: 8px;
        }
        .ttype {
        	margin: 0 auto; 
margin-bottom: 20px; 
display: block;
 text-align: center;
        text-decoration: underline;
        }
        
        .green-loader {
  width: 28px;
  height: 28px;
  display: inline-block;
  position: relative;
}
.green-loader::before {
  content: '';  
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #03fc13;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -5px;
  animation: animloader 1.5s linear infinite;
}
.green-loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.green-dot {
  width: 5px;
  height: 5px;
  background: #03fc13;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  transform: translate(-50%, -50%);
}



   .red-loader {
  width: 28px;
  height: 28px;
  display: inline-block;
  position: relative;
}
.red-loader::before {
  content: '';  
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -5px;
  animation: animloader 1.5s linear infinite;
}
.red-loader::after {
  animation-delay: 1s;
}

.red-dot {
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  transform: translate(-50%, -50%);
}
    </style>
<div class="statDiv">
    <h2 style='text-align: center;''>ADMIN WEB STATUS</h2>

    <div class='line'></div>
    <h3 class='ttype'>WEB INFO</h3>

    <span class='ntype'>Site Status: <span class="showright" id="web_status">Fetching...</span></span> <br>
    <span class='ntype'>DB Status: <span class="showright"><span class="green-loader">
  <span class="green-dot"></span></span></span></span> <br> 
    <span class='ntype'>DB connected? : <span class="showright">true</span></span> <br>
    <span class='ntype'>Website Uptime : <span class="showright" style="font-size: 15px;" id="uptime">000..</span></span> <br>
    <span class='ntype'>Response Time: <span class="showright" id="res_time">0 ms</span></span> <br>
    <span class='ntype'>WS ping: <span class="showright" id="wsPingCount">-1 ms</span></span> <br>
    <span class='ntype'>In Maintainence ?: <span class="showright"><%= isInMaintainance ? "YES" : "NO"%></span></span> <br>
    	
    <div class='line' style='margin-top: 10px;'></div>
        <h3 class='ttype'>MOVIES INFO</h3>
        <span class='ntype'>Total Movies: <span class="showright"><%= totalMovCount%></span></span> <br>
        <span class='ntype'>Trending Movies: <span class="showright"><%= totalTrendCount%></span></span> <br>
  

    <div class='line' style='margin-top: 10px;'></div>
        <h3  class='ttype'>USERS INFO</h3>
        <span class='ntype'>Total  Views: <span class="showright"><%= totalMagaViews%></span></span> <br>
        <span class='ntype'>Unique Views: <span class="showright"><%= uniqueMagaViews%></span></span> <br>
        <span class='ntype'>Total Searches: <span class="showright"><%= srarchTermRecord.length%></span></span> <br>
</div>

<script>
var webStatusShow = document.querySelector("#web_status");
var resTimeShow = document.querySelector("#res_time");
let pingFTime = Date.now();
let uptime = <%= uptime%>;
function ms(milliseconds){
    const roundTowardsZero = milliseconds > 0 ? Math.floor : Math.ceil;
	return {
		days: roundTowardsZero(milliseconds / 86400000),
		hours: roundTowardsZero(milliseconds / 3600000) % 24,
		minutes: roundTowardsZero(milliseconds / 60000) % 60,
		seconds: roundTowardsZero(milliseconds / 1000) % 60,
		milliseconds: roundTowardsZero(milliseconds) % 1000,
		microseconds: roundTowardsZero(milliseconds * 1000) % 1000,
		nanoseconds: roundTowardsZero(milliseconds * 1e6) % 1000
	};
}
let uptmMsg = document.getElementById("uptime");

uptmMsg.innerHTML = `${ms(uptime).days} D, ${ms(uptime).hours} H, ${ms(uptime).minutes} M, ${ms(uptime).seconds} S`;
setInterval(() => {
uptime = uptime + 1000;
uptmMsg.innerHTML = `${ms(uptime).days} D, ${ms(uptime).hours} H, ${ms(uptime).minutes} M, ${ms(uptime).seconds} S`;
}, 1000);


try {
pingFTime = Date.now();
fetch("https://memer797.onrender.com/ping").then(k => k.text()).then(l => {
var gotResTime = Date.now() - pingFTime;
webStatusShow.innerHTML = '<span class="green-loader"><span class="green-dot"></span></span>';
resTimeShow.innerHTML = `${gotResTime} ms`;
});
}catch{
webStatusShow.innerHTML = '<span class="red-loader"><span class="red-dot"></span></span>';
resTimeShow.innerHTML = `<span class="red-loader"><span class="red-dot"></span></span>`;
}

setInterval(() => {
    try {
pingFTime = Date.now();
fetch("https://memer797.onrender.com/ping").then(k => k.text()).then(l => {
var gotResTime = Date.now() - pingFTime;
webStatusShow.innerHTML = '<span class="green-loader"><span class="green-dot"></span></span>';
resTimeShow.innerHTML = `${gotResTime} ms`;
});
}catch{
webStatusShow.innerHTML = '<span class="red-loader"><span class="red-dot"></span></span>';
resTimeShow.innerHTML = `<span class="red-loader"><span class="red-dot"></span></span>`;
        }
}, 30*1000);

</script>
