<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name%> Movie Download Page</title>
  <meta name="description" content="Download <%= name%> Movie For free In our website! We Provide <%= name%> movies direct download link - memer797 all movies for free">
  <meta name="keywords" content="<% if(tags && tags.length > 0){ %> <%= tags.join(', ') + ','%> <% } %> memer797, m7, <%= name%> Full Movie Download, <%= name%> Download in free, <%= name%> Download">
  <%- include('./includes/fav icon')%>
<link rel="stylesheet" type="text/css" href="/global.css"/>
<style>     
button {
  margin: 20px;
  padding: 10px;
  background-color: #4285f4; /* Google Blue for button */
  color: #fff;
  border: none;
  cursor: pointer;
}

    .movie-container {
      max-width: 800px;
      margin: 20px auto;
      background-color: transparent;
      box-shadow: 0 0 10px rgba(250, 250, 250, 0.1);
      padding: 20px;
      border-radius: 8px;
    }

    img.movie-image {
  width: 100%;
/*  height: 200px;*/
  border-radius: 8px; /* Optional: Rounded corners for aesthetics */
}

    .movie-details {
      margin-top: 20px;
      text-align: left;
      background-color: transaprent;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }

    .movie-details h2 {
      color: #4285f4;
    }

    .movie-details p {
      margin: 10px 0;
      color: #fff;
    }

    .download-links {
      margin-top: 20px;
      text-align: center;
      background-color: transaprent;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }

    .download-links h3 {
      color: #4285f4;
    }

    .download-links a {
      display: block;
      margin: 10px 0;
      padding: 10px 20px;
      background-color: #4285f4;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
    }

    .download-links a:hover {
      background-color: #345dc1;
      color: #fff;
    }

    .tags {
  margin-top: 20px;
  text-align: left;
  background-color: transaprent;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.tags h3 {
  color: #4285f4;
}

.tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags li {
  display: inline-block;
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 8px; /* Adjusted padding */
  margin: 4px;
  border-radius: 5px;
  font-size: 11px; /* Adjusted font size */
  transition: background-color 0.3s, color 0.3s;
}

.tags li:hover {
  background-color: #4285f4;
  color: #fff;
}

    @media only screen and (max-width: 600px) {
      .movie-container {
        padding: 10px;
      }
    }
  </style>
</head>
<body>
<%- include('./includes/nav')%>
<div class="taremaka">
<span><a style="color: white; text-decoration: none; font-size: 20px; margin-left: 4px;" href="javascript: history.go(-1);">⬅️ back</a></span>        
<div class="movie-container">
  <img class="movie-image" src="<%= banner.jpg%>" alt="<%= name%> Movie Poster">

  <div class="movie-details">
    <h2><%= name%></h2>
    <p><strong><strong style="color: #4285f4;">Genre:</strong> <%= category.join(", ")%></strong></p>
    <p><strong><strong style="color: #4285f4;">Duration:</strong> <%= duration%></strong></p>
    <p><strong><strong style="color: #4285f4;">Release Date:</strong> <%= release_date%></strong></p>
    <p><strong><strong style="color: #4285f4;">Language:</strong> <%= language.join(" , ")%></strong></p>
    <p><strong><strong style="color: #4285f4;">Star Cast:</strong> <%= actors%></strong></p>
    <p><strong><strong style="color: #4285f4;">Description:</strong> <%= description%></strong></p>
  </div>

  <div class="download-links">
    <h3>Download Links :</h3>
  <!--- <p><a href="download-link-480p">Download 480p</a></p>
   <p><a href="download-link-720p">Download 720p</a></p>
   <p><a href="download-link-1080p">Download 1080p</a></p>--->

    <% if(!downloads || downloads.length === 0){ %>
<p> No Download Links Provided</p>
   <% } %>
    <% downloads.forEach(data => { %>
  <p><a href="<%= data.download %>">Download  <%= data.quality %> (<%= data.size %>) <span style="font-size: 4px; right: 4px; bottom: 4px;"></span></a></p>
<% }); %>
  </div>

  <div class="tags">
    <h3>Tags :</h3>
<% if(!tags || tags.length === 0){ %>
<p>No External Tags Are Provided</p>
<% } %>
    <ul>
      <% tags.forEach(tag => { %>
           <li onclick="goToTag('<%= tag%>')"><%= tag%></li>	
    <%  }); %>
<li><%= name%> Full Movie Download</li>
<li><%= name%> Download in free</li>
<li><%= name%> Download</li>
<li>memer797.onrender.com</li>
<li>memer797</li>
<li>m7</li>
    </ul>
  </div>
</div>
<%- include('./includes/footer')%>
</div>
<script>
	function goToTag(tag) {
		window.location.href = `/tag/${tag}`;
		};
	</script>
</body>
</html>
